.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.reg {
  margin-top: 0.75em;
}

button {
  margin-left: 5px;
}

.pick0 {
  background-color: lightgreen;
  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.pick1 {
  background-color: lightgreen;
  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.pick2 {
  background-color: lightgreen;
  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.pick3 {
  background-color: darkgreen;
  color: white;
  margin-right: 20px;
  font-size: 24px;
  height: 2em;
}

.pick4 {
  background-color: lightgreen;
  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.pick5 {
  background-color: lightgreen;
  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.pick6 {
  background-color: lightgreen;
  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.pick7 {
  background-color: lightgreen;
  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.pickb0 {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.pickb1 {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}
.pickb2 {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.pickb3 {
  background-color: rgb(244, 248, 2);
  color: black;
  margin-right: 20px;
  font-size: 24px;
  font-style: bold;
  height: 2em;
}

.pickb4 {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.pickb5 {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.pickb6 {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );

  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.pickb7 {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );

  color: black;
  margin-right: 20px;
  font-size: 22px;
  height: 2em;
}

.spinrain {
  border-radius: 15px;
  border-width: 10px;
  background-color: yellow;
  color: black;
}

.leftside {
  text-align: left;
  margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
